{% extends 'core/base.html' %}

{% block content %}

    <div class='container-md'>

        {% if is_editing %}
            <h1 class="display-4" style="margin-top: 30px; margin-bottom: 30px;">Modificar cancha</h1>
        {% else %}
            <h1 class="display-4" style="margin-top: 30px; margin-bottom: 30px;">Crea una nueva cancha</h1>
        {% endif %}


        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            

            <a href="{% url 'canchas_list' %}">Volver</a>

            {% if is_editing %}
                <button style="margin-left: 20px;" class="btn btn-primary" type='submit'> Guardar </button>
            {% else %}
                <button style="margin-left: 20px;" class="btn btn-primary" type='submit'> Crear </button>

            {% endif %}
        </form>
    </div>


    {% include 'core/footer.html' %}
{% endblock %}
