{% extends 'core/base.html' %}

{% block content %}

    <h2>Resumen de la reserva</h2>
    <p>Fecha: {{ date }}</p>
    <p>Hora: {{ time }}</p>
    <p>Nombre de la cancha: {{ field.name }}</p>
    <p>Jugadores por lado: {{ players }}</p>
    <p>Precio: {{ price }}</p>


    <div>
        <a href="#" onclick="window.history.back();">volver</a>
    </div>
    <form method="post" action="{% url 'create_reservation' %}">
        {% csrf_token %}
        <input type="submit" value="PAGAR">
    </form>

{% endblock %}