{% extends 'core/base.html' %}

{% block content %}

    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'reservation/css/style.css' %}">
    </head>

    <div class="container-md">
        <h2 class="display-4">Resumen de la reserva</h2>
        <p>Fecha: {{ date }}</p>
        <p>Hora: {{ time }}</p>
        <p>Nombre de la cancha: {{ field.name }}</p>
        <p>Jugadores por lado: {{ players }}</p>
        <p>Precio: {{ price }}</p>

        <h3 class="display-6" style="margin-top: 50px;">Detalles de la tarjeta de crédito</h3>

        <form method="post" action="{% url 'create_reservation' %}">
            {% csrf_token %}
            <div class="container">
                <div class="input">
                    {{ form.as_p }}
                    <input class="form-submit" type="submit" value="Pay Now" />
                </div>
            </div>
        </form>
    </div>

{% include 'core/footer.html' %}
{% endblock %}