{% extends 'core/base.html' %}

{% block content %}

<div class="container">
    {% load static %}
    
    {% for club in clubs %}
        {% if club.clubName or club.clubDescription or club.clubAddress %}
            <h1>{{ club.clubName }}</h1>
            {% if club.clubDescription %}
                <p>Descripcion: {{ club.clubDescription }}</p>
            {% endif %}
            {% if club.clubAddress %}
                <p>Direccion: {{ club.clubAddress }}</p>
            {% endif %}
            <p>Dueno: {{ club.tenant.username }}</p>
            {% if club.tenant.clubPhoto %}
                <img src="{{ club.clubPhoto.url }}">
            {% else %}
                <p>No tiene foto</p>
            {% endif %}
            <br>
            <a href="{% url 'field_detail'%}">Ver club</a>
        {% endif %}
    {% endfor %}

{% endblock %}