{% extends 'core/base.html' %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <h1>{{ club.clubName }}</h1>


                <div style="display: flex; justify-content: space-between;">
                    <form method="get">
                        <div>
                            <h4>Numero de jugadores por lado</h4>
                            <select name="players_per_side" onchange="this.form.submit()">
                                <option value="">Todos</option>
                                {% for i in "123456789"|make_list %}
                                    <option value="{{ i }}" {% if request.GET.players_per_side == i %}selected{% endif %}>{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    
                        <div>
                            <h4>Tipo de cancha</h4>
                            <select name="ground_type" onchange="this.form.submit()">
                                <option value="">Todos</option>
                                {% for choice in GROUND_CHOICES %}
                                    <option value="{{ choice.0 }}" {% if request.GET.ground_type == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
            

                </div>


                {% for field in fields %}
                    {% if field.isActive == True %}

                    <div class="card" style="width: 80rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ field.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{ field.price }}</h6>
                            <p class="card-text">

                            <p>Jugadores por lado: {{ field.playersPerSide }} </p>  

                            <p>Tipo de cancha: {{ field.groundType }}</p>

                            </p>
                            <a href="{% url 'reservation' field.id %}"> Reservar </a>
                        </div>
                        <p>Falta poner la foto</p>
                    </div>
                    {% endif %}
                    
                
                {% empty %}
                    <p>No hay canchas disponibles.</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}