
<div>
    
    <footer class="text-center text-lg-start text-white" style="background-color: #163E56; margin-top: 100px;">

      
      <section style="margin-top: 100px;">
        <div class="container text-center text-md-start mt-5" >
     
          <div class="row mt-3" style="margin-top: 100px;">
        
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" >
   
              <h6 class="text-uppercase fw-bold" style="margin-top: 20px;">iPartidos</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                Somos una plataforma que busca facilitar la organización de partidos de fútbol amateur.
                Hecho principalmente como proyecto de Taller de Desarrollo de Software.
              </p>
            </div>
 
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
      
              <h6 class="text-uppercase fw-bold" style="margin-top: 20px;">Links Utiles</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="{% url 'profile' %}" class="text-white">Tu cuenta</a>
              </p>
              <p>
                <a href="https://github.com/Guerra-09/Proyector-Taller-Inacap" class="text-white">Repositorio en github</a>
              </p>
              <p>
                <a href="{% url 'help' %}" class="text-white">Preguntas frecuentes</a>
              </p>
            </div>
   

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            
              <h6 class="text-uppercase fw-bold" style="margin-top: 20px;">Contacto</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> Av. Sta. María, 1020265 Arica, </p>
              <p><i class="fas fa-envelope mr-3"></i> djangoa353@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> +569 58482856</p>
            </div>
           
          </div>
      
        </div>
      </section>
    
  
     
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2023 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/"
           >MDBootstrap.com</a
          >
      </div>
  
    </footer>

  
  </div>
