{% extends 'core/base.html' %}

{% block content %}

<div>
    <h1> Quieres reservar una cancha para jugar? reserva una con nosotros! </h1>
    <a href="#"> Ver canchas disponibles </a>

    <h3> Distintos clubes para escoger </h3>
    <br>

    <div class="card" style="width: 18rem;">


        {% load static %}
        <img src="{% static 'core/img/fieldstock.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Club las chamas</h5>
            <p class="card-text">
                Abierto de 9 a 11 <br>
                Pacifico norte con avenida francia
            </p>

            {% if request.user.is_authenticated %}
                <a href="{% url 'canchas_list' %}" class="btn btn-primary">Reservar</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">Reservar</a>
            {% endif %}
          



        </div>
    </div>


</div>
{% endblock %}