.logo-img {
    width: 60px;  
    height: auto; 
    margin-left: 25px;
}

body{
    background: #afaeae;
}

.clubPhoto{
    max-width: 250px;
    height: 250px;
}

.card-body {
    display: flex;
    justify-content: space-between;
}