.logo-img {
    width: 60px;  
    height: auto; 
    margin-left: 25px;
}

body{
    background: #afaeae;
}

.clubPhoto{
    max-width: 250px;
    height: 250px;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.time-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.time-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.time-card button {
    background: none;
    border: none;
    font-size: 16px;
    color: #333;
}