{% extends 'core/base.html' %}

{% block content %}

    <div class="container-md" style="height: 424px;">
        <h1 style="margin-top: 30px;" class="display-4">Recuperar contraseña view</h1>

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}


        <form method="POST" >
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" {% if field.field.required %}required{% endif %}>
                </div>
            {% endfor %}

            <button style="margin-top: 40px;" type="submit" class="btn btn-primary">Enviar</button>

        </form>
    </div>

{% include 'core/footer.html' %}

{% endblock %}