{% extends 'core/base.html' %}

{% block content %}
<h2>Bienvenido(a) {{request.user.name}} {{request.user.last_name}} </h2>
<div class="d-flex">
    <div class="me-4 col-md-8 pe-2">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form.as_p }}

            <a href="{% url 'change_password' %}">Cambiar contrasena</a>

            <button type="submit" class="btn btn-primary">Guardar</button>

            {% if request.user.role == 'client' %}
                <p>Cuenta personal</p>
            {% elif request.user.role == 'tenant' %}
                <p>Cuenta de empresa</p>
            {% else %}
                <p>Cuenta admin</p>
            {% endif %}



        </form>

    </div>
    
</div>
{% endblock %}
