{% extends 'core/base.html' %}

{% block content %}
<h2>Bienvenido {{request.user.name}} </h2>
<div class="d-flex">
    <div class="me-4 col-md-8 pe-2">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ request.user.role }}

            {% if request.user.role == 'True'  %}
                <p>Registrado como: Client </p>
            {% else %}
                <p>Registrado como: Tenant </p>
            {% endif%}
        </form>

    </div>
    
</div>
{% endblock %}
