{% extends 'core/base.html' %}

{% block content %}
    <h2 class="text-center">Regístrate</h2>
    <div class="row mt-3 d-flex">
        <form id="signup-form" method="post">
            {% csrf_token %}
            
            {{ form.as_p }}

            <p>
                <input type="submit" class="btn btn-success" name="account_type" value="Registrarse como cliente">

                <input type="submit" class="btn btn-success" name="account_type" value="Registrar como club">
            </p>


        </form>
    </div>
{% endblock %}
